/* Fondo y fuente global */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../recursos/fondo\ anuladas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Contenedor principal centrado */
.container {
    width: 90%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* blanco con transparencia */
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Títulos */
h2, h3 {
    text-align: center;
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Formulario */
form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #007bff;
    color: white;
}

/* Total y botón volver */
p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

a{
    text-decoration: none;
}
a button {
    margin: 30px auto;
    display: block;
    background-color: #233fa3;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

a button:hover {
    background-color: #5e54f1;
    text-decoration: none;
}
