body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../recursos/fondo formulario mesas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #000;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #0a0879;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #464643;
}
